.header__submenu-link {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 37px;
  text-decoration: none;
  margin: 0;
  background-color: white;
  padding-left: 50px;
  transition: color 0.3s ease-in-out;
  position: relative;
}

.header__submenu-link:hover {
  color: #7542c5;
}

.header__submenu-link:hover::before {
  content: '';
  background-image: url(../../../images/header-submenu-arrow.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 12px;
  left: 25px;
  width: 8px;
  height: 8px;
  padding-right: 20px;
}


@media screen and (max-width: 1510px) {
  .header__submenu-link {
    font-size: 18px;
    line-height: 30px;
  }
  .header__submenu-link:hover::before {
    top: 8px;
  }
}

@media screen and (max-width: 1200px) {
  .header__submenu-link {
    font-size: 14px;
    line-height: 22px;
    padding-left: 25px;
  }
  .header__submenu-link:hover::before {
    left: 5px;
  }
}
