.header__find-button {
  width: 58px;
  height: 42px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  outline: none
}
@media screen and (max-width: 1100px) {
  .header__find-button {
  width: 40px;
  height: 28px;

}
}
