.slider__text-groupe {
  position: absolute;
  top: 125px;
  left: 240px;
  font-size: 16px;
}

@media screen and (max-width: 1510px) {
  .slider__text-groupe {
    top: 110px;
    left: 110px;
    font-size: 12px;
  }
}

@media screen and (max-width: 1110px) {
  .slider__text-groupe {
    top: 80px;
    left: 90px;
    font-size: 10px;
  }
}

@media screen and (max-width: 800px) {
  .slider__text-groupe {
    top: 40px;
    left: 50px;
    font-size: 7px;
  }
}

@media screen and (max-width: 580px) {
  .slider__text-groupe {
    top: 20px;
    left: 35px;
    font-size: 6px;
  }
}

@media screen and (max-width: 480px) {
  .slider__text-groupe {
    font-size: 5px;
  }
}

@media screen and (max-width: 400px) {
  .slider__text-groupe {
    top: 30px;
    font-size: 4px;
  }
}
