.header__mobile-menu-link {
  position: relative;
  display: block;
  text-decoration: none;
  color: #000000;
  font-family: "Graphik LCG";
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 19px;
  padding-bottom: 10px;
  transition: color 0.3s ease-in-out;
}

.header__mobile-menu-link:hover {
  margin-left: 15px;
  color: #713dc3;
}
.header__mobile-menu-link:hover::after {
  display: block;
  position: absolute;
  content: "";
  height: 1px;
  width: 300px;
  background-color: #713dc3;
  left: 0;
  top: 30px;
  z-index: 5;
}
