.header__opening-hours {
  height: 36px;
  background-color: #f2f2f2;
  color: #9e9e9e;
  font-family: "Myriad-Pro";
  font-weight: 400;
  font-size: 17px;
  margin-top: 40px;
}

@media screen and (max-width: 1450px) {
  .header__opening-hours {
    font-size: 14px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 1100px) {
  .header__opening-hours {
    font-size: 14px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 900px) {
  .header__opening-hours {
    font-size: 12px;
  }
}

@media screen and (max-width: 800px) {
  .header__opening-hours {
    display: none;
  }
}
