.header__cart-links {
  display: flex;
  height: 71px;
  align-items: center;
  margin-left: 31px;
}

@media screen and (max-width: 1450px) {
  .header__cart-links {
    margin-left: 20px;
    height: 60px;
  }
}

@media screen and (max-width: 1000px) {
  .header__cart-links {
    margin-left: 15px;
    height: 40px;
  }
}
