.header__logo {
  width: 300px;
  height: auto;
}

@media screen and (max-width: 1450px) {
  .header__logo {
    width: 200px;
  }
}

@media screen and (max-width: 1000px) {
  .header__logo {
    width: 150px;
  }
}
