.header__number {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 10px 22px;
}

@media screen and (max-width: 1450px) {
  .header__number {
    font-size: 14px;
    margin: 0 0 10px 16px;
  }
}

@media screen and (max-width: 1000px) {
  .header__number {
    font-size: 12px;
    margin: 0 0 10px 5px;
  }
}
