.slider__button {
  width: 194px;
  height: 49px;
  border-radius: 24px;
  border: 1px solid #babac0;
  background-color: #ffffff;
  color: #713dc3;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  bottom: 100px;
  left: 240px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  outline: none
}

@media screen and (max-width: 1510px) {
  .slider__button {
    width: 140px;
    height: 35px;
    left: 110px;
    bottom: 60px;
  }
}

@media screen and (max-width: 1110px) {
  .slider__button {
    left: 90px;
    bottom: 30px;
  }
}
