.header__mobile-menu {
  display: none;
  position: absolute;
  width: 320px;
  top: 60px;
  right: 0;
  padding-top: 30px;
  padding-left: 20px;
  margin: 0;
  flex-direction: column;
  background-color: #fafafa;
  z-index: 10;
}
