.header__mobile-submenu-link_active {
  color: #713dc3;
  font-weight: 500;
}

.header__mobile-submenu-link_active::before {
  content: '';
  background-image: url(../../../images/sublist-point.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 5px;
  left: 0;
  width: 8px;
  height: 8px;
}
